@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background-image: url(../imagenes/banner.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;


}
h2{
    color: yellow;
    margin: 0;
    font-size: 30px;
    text-align: center;
    text-shadow: orange 3px 3px 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Lobster';
    border-radius: 15px;
    box-shadow: white 5px 5px 10px;
    letter-spacing: 3px;
    background: rgba(0,0,0,.35);
}
form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.3);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 2%;
    border-radius: 30px;
    box-shadow: aqua 5px 5px 10px inset;

}
input, textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;

}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

/*seleccionamos por id los botones*/
/*hover es para cuando el mouse esta arriba del elemento, coloca la manita en los botones*/
#borrar, #enviar:hover{
    cursor: pointer;
}
/*ahora seleccionamos por clase todos los elementos que tienen la clase entrada, le podemos dar un estilo redondeado con sombra*/
.entrada{
    background-color: black;
    color:gray;
    box-shadow: white 3px 3px 5px inset;
    border-radius: 15px;
}
/*ahora seleccionamos la clase btn, esta solamente la tienen los botones como se muestra en el html*/
.btn{
    border-radius: 15px;
    background-color: gray;
    box-shadow: white 5px 5px 5px inset;
    color: azure;
    width: 40%;
    margin: auto;
    letter-spacing: 3px;
    /*vamos a agregarle una pequeña animacion en el evento hover, el primer argumento es a todos los elementos, despues cuanto va a durar la animacion, despues la distribucion de animacion(ease) y por ultimo el retardo(1 segundo)*/

}
/*ahora vamos a centrar los botones, como estan dentro de una caja llamada "botones" la llamamos así*/
.botones{
    display:flex;
    justify-content: space-between;
}
/*ahora si vamos a agregar la animacion, podemos agregar mas animacion*/
.btn:hover{
    transition: all 3s ease .3s;
    background-color: rgba(200,0,0,0.5);
    transform: scale(1.2) rotate3d(0,1,0,720deg);
    color:aqua;
    letter-spacing: 18px;
}
